/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
} *

/* Template old styles */
body {
	font-family: 'Lato', arial, sans-serif;
	color: #434343;
	background: #DAE3E7;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #778492;
  }

  /* About Section */
/* Latest Section */
.latest .item {
	margin-bottom: 30px;
  }
  .latest .item .title {
	font-size: 18px;
	margin-top: 0;
  }
  .latest .item .title .label {
	margin-left: 5px;
	font-size: 12px;
  }
  .latest .item .title a {
	color: #778492;
  }
  .latest .item .title a:hover {
	color: #5f6b77;
  }
  .latest .item .project-image:hover {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
  }
  .latest .divider {
	margin-bottom: 60px;
  }
  .latest .featured {
	margin-bottom: 60px;
  }
  .latest .featured .title {
	margin-bottom: 5px;
	font-size: 20px;
  }
  .latest .featured .summary {
	margin-bottom: 30px;
	color: #778492;
  }
  .latest .featured img {
	margin-bottom: 30px;
  }
  .latest .featured .desc {
	margin-bottom: 30px;
  }
  .latest .featured-image {
	position: relative;
  }
  .latest .featured-image .text {
	background: #3AAA64;
	color: #fff;
  }
  .latest .featured-image .ribbon {
	position: absolute;
	top: -4px;
	right: -4px;
	width: 110px;
	height: 110px;
	overflow: hidden;
  }
  .latest .featured-image .ribbon .text {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	left: -8px;
	top: 18px;
	width: 158px;
	padding: 10px 10px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #479FC8;
	-webkit-transform: rotate(45deg) translate3d(0, 0, 0);
	-moz-transform: rotate(45deg) translate3d(0, 0, 0);
	-ms-transform: rotate(45deg) translate3d(0, 0, 0);
	-o-transform: rotate(45deg) translate3d(0, 0, 0);
  }
  .latest .featured-image .ribbon .text:before,
  .latest .featured-image .ribbon .text:after {
	content: '';
	position: absolute;
	bottom: -5px;
	border-top: 5px solid #276582;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  }
  .latest .featured-image .ribbon .text:before {
	left: 0;
  }
  .latest .featured-image .ribbon .text:after {
	right: 0;
  }
  /* Work Section */
.experience .item {
	margin-bottom: 30px;
  }
  .experience .item .title {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 1.5;
  }
  .experience .item .title .place {
	color: #999;
	font-weight: normal;
  }
  .experience .item .title .place a {
	color: #999;
  }
  .experience .item .title .place a:hover {
	color: #666666;
  }
  .experience .item .title .year {
	color: #999;
	font-weight: normal;
  }
  /* Info Section */
.info .fa {
	margin-right: 15px;
	color: #ccd1d6;
  }
  .info .fa.fa-envelope-o {
	font-size: 14px;
  }
  ul.info {
	margin-bottom: 0;
  }
  .info li {
	margin-bottom: 15px;
  }
  .info li:last-child {
	margin-bottom: 0;
  }
  /* Skills Section */
  .skills .intro {
	margin-bottom: 30px;
  }
  .skills .skillset .item {
	margin-bottom: 30px;
  }
  .skills .skillset .level-title {
	font-size: 16px;
	position: relative;
	margin-top: 0;
	margin-bottom: 10;
  }
  .skills .skillset .level-title .level-label {
	color: #ccd1d6;
	font-size: 14px;
	font-weight: 400;
	font-family: "Lato", arial, sans-serif;
	position: absolute;
	right: 0;
	top: 0;
  }
  .skills .skillset .level-bar {
	height: 15px;
	background: #e8e8e8;
  }
  .skills .skillset .level-bar-inner {
	height: 15px;
	background: #66cb8c;
  }
  /* Testimonials section */
  .testimonials .item {
	margin-bottom: 30px;
  }
  .testimonials .item:last-child {
	margin-bottom: 0;
  }
  .testimonials .item .quote {
	color: #666;
	font-size: 16px;
	border-left-color: #9fdeb7;
	margin-bottom: 15px;
  }
  .testimonials .item .quote .fa {
	color: #79d19a;
	margin-right: 15px;
  }
  .testimonials .item .source {
	font-size: 14px;
	padding-left: 30px;
	font-weight: 500;
  }
  .testimonials .item .source .name {
	color: #939ea9;
	font-weight: 600;
  }
  .testimonials .item .source .title {
	color: #999;
  }
  /* Education section */
  .education .item {
	margin-bottom: 30px;
  }
  .education .item:last-child {
	margin-bottom: 0;
  }
  .education .item .title {
	font-size: 16px;
	margin-top: 0;
  }
  .education .item .university {
	font-family: "Lato", arial, sans-serif;
	font-size: 13px;
	color: #999;
	font-weight: 600;
	padding-left: 25px;
  }
  .education .item .university .year {
	color: #b0b7bf;
	font-weight: 500;
  }
  /* Language Section */
  .languages .item {
	margin-bottom: 15px;
  }
  .languages .item .title {
	color: #778492;
  }
  .languages .item .level {
	color: #999;
  }
  .languages .item:last-child {
	margin-bottom: 0;
  }
  .languages .item .fa {
	color: #79d19a;
  }
  /* Blog Section */
  .blog .item {
	margin-bottom: 30px;
  }
  .blog .item .title {
	font-size: 18px;
	line-height: 1.3;
  }
  .blog .item .title a {
	color: #778492;
  }
  .blog .item .title a:hover {
	color: #5f6b77;
  }
  .blog .item:last-child {
	margin-bottom: 0;
  }
  /* List section */
  .list ul li {
	margin-bottom: 10px;
  }
  .list ul li .fa {
	margin-right: 5px;
  }
  .list ul li a {
	color: #778492;
  }
  .list ul li a:hover {
	color: #49515a;
  }

  /* Projects Section */
.projects .item {
	margin-bottom: 30px;
  }
  .projects .item .title {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 1.5;
  }
  .projects .item .title a {
	color: #778492;
  }
  .projects .item .title a:hover {
	color: #5f6b77;
  }

  /* Git section */
.github-graph {
	margin-bottom: 30px;
  }
  .github-graph .js-calendar-graph-svg {
	max-width: 100%;
  }
  .ghfeed {
	height: 600px;
  }
  .ghfeed,
  .ghfeed *,
  .ghfeed *:before,
  .ghfeed *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
  }

  a {
	color: #3AAA64;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
  }
  a:hover {
	text-decoration: underline;
	color: #5f6b77;
	color: #2d844e;
  }
  a:focus {
	text-decoration: none;
  }
  .btn,
  a.btn {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	font-family: 'Montserrat', arial, sans-serif;
	padding: 8px 16px;
	font-weight: bold;
  }
  .btn .fa,
  a.btn .fa {
	margin-right: 5px;
  }
  .btn:focus,
  a.btn:focus {
	color: #fff;
  }
  a.btn-cta-primary,
  .btn-cta-primary {
	background: #54ba4e;
	border: 1px solid #54ba4e;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
  }
  a.btn-cta-primary:hover,
  .btn-cta-primary:hover {
	background: #49ac43;
	border: 1px solid #49ac43;
	color: #fff;
  }
  a.btn-cta-secondary,
  .btn-cta-secondary {
	background: #479FC8;
	border: 1px solid #479FC8;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
  }
  a.btn-cta-secondary:hover,
  .btn-cta-secondary:hover {
	background: #3893bd;
	border: 1px solid #3893bd;
	color: #fff;
  }
  .text-highlight {
	color: #32383e;
  }
  .label-theme {
	background: #3AAA64;
	font-size: 12px;
  }
  a.dotted-link {
	border-bottom: 1px dotted #778492;
	color: #778492;
  }
  a.dotted-link:hover {
	text-decoration: none;
	color: #49515a;
  }